limit_req_zone $binary_remote_addr zone=mylimit:10m rate=5r/s;

server {
  listen 80;

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files $uri /index.html;
  }

  location /api/shortener/ {
    limit_req zone=mylimit burst=5 nodelay;
    limit_req_status 429;
    proxy_pass http://$SHORTENER_HOST:5000/;
  }

  location /api/redirect/ {
    limit_req zone=mylimit burst=5 nodelay;
    limit_req_status 429;
    proxy_pass http://$REDIRECT_HOST:5001/;
  }
}
